@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

body {
  margin: auto;
  box-sizing: border-box;
  background-color: #CBE4DE;
}

body img {
  max-width: 12%;
}

.navegacao {
  background: #2C3333;
  display: flex;
  padding:2% 20%;
}

.navegacao_menu {
  font-family: 'Krona One', sans-serif;;
  font-size: 20px;
}

.navegacao_menu a {
  color: #CBE4DE;
  text-decoration: none;
  padding-left: 50px;
}

.series {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.series img {
  padding-left: 38px;
}

.series img:hover {
  -xpedu-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.series_dois {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
  margin-bottom: 30px;
}

.series_dois img {
  padding-left: 38px;
}

.series_dois img:hover {
  -xpedu-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.rodape {
  padding: 15px;
  color: #CBE4DE;
  background: #2C3333;
  text-align: center;
  font-family: 'Krona One', sans-serif;;
  font-size: 20px;
  font-weight: 400px;
}